<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-button
        (click)="closeModal()"
        aria-label="Cancel"
      >
        <ion-icon
          name="close-outline"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ category ? 'Edit Category' : 'New Category' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="saveCategory()"
        aria-label="Save"
        [disabled]="isNameInvalid()"
      >
        <ion-icon
          name="save-outline"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      label="Enter category name"
      labelPlacement="stacked"
      type="text"
      placeholder="Your category name"
      [(ngModel)]="categoryName"
    ></ion-input>
  </ion-item>
</ion-content>
