<ion-header>
  <ion-toolbar>
    <ion-title>
      Categories
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button
        slot="start"
        aria-label="Add"
        (click)="categoryModal.present()"
      >
        <ion-icon
          name="add-outline"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="(categories$ | async)?.length; else elseTemplate">
    <ion-item-sliding
      *ngFor="let category of categories$ | async; trackBy: trackById"
      #slidingItem
    >
      <ion-item>
        <ion-label>{{ category.name }}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          color="warning"
          aria-label="Edit Category"
          (click)="openEditCategoryModal(category, slidingItem)"
        >
          <ion-icon
            slot="icon-only"
            name="pencil"
            aria-hidden="true"
          ></ion-icon>
        </ion-item-option>
        <ion-item-option
          color="danger"
          aria-label="Delete Category"
          (click)="deleteCategory(category.id, slidingItem)"
        >
          <ion-icon
            slot="icon-only"
            name="trash"
            aria-hidden="true"
          ></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ng-template #elseTemplate>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-center">
          <p>
            No categories found...
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>

<!-- Modal for New & Edit categories -->
<ion-modal
  #categoryModal
  (willDismiss)="onWillDismiss($event)"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="ion-text-center">
        <ion-buttons slot="start">
          <ion-button
            (click)="categoryModal.dismiss()"
            aria-label="Cancel"
          >
            <ion-icon
              name="close-outline"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>{{ categorySelected ? 'Edit Category' : 'New Category' }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            (click)="categoryModal.dismiss(null, 'confirm')"
            aria-label="Save"
            [disabled]="!categoryName.trim().length"
          >
            <ion-icon
              name="save-outline"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Enter category name"
          labelPlacement="stacked"
          type="text"
          placeholder="Your category name"
          [(ngModel)]="categoryName"
        ></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
